<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620055941271-bfsbg2bu8m20mjbrda2hie617d8lu7t2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620055941271-bfsbg2bu8m20mjbrda2hie617d8lu7t2</string>
	<key>API_KEY</key>
	<string>AIzaSyD7ClovwX6w1oMovXpoFwp4ocUNziZpQIg</string>
	<key>GCM_SENDER_ID</key>
	<string>620055941271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darrelmuonekwu.BeHappy</string>
	<key>PROJECT_ID</key>
	<string>behappy-a2418</string>
	<key>STORAGE_BUCKET</key>
	<string>behappy-a2418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620055941271:ios:31e50c5252a7c3ccc1d9d2</string>
</dict>
</plist>